.home {
  height: 100vh;
  width: 100vw;
}  

.home__links {
  height: 100px;
  width: 100vw;
  text-align: center;
}

.home__links__link {
  color: black;
  font-size: 30px;
}

.home__video {
  height: 30vh;
  width: 30vw;
}

.home__video video {
  height: 100%;
  width: 100%;
}