.menu__animation
  a.menu__item(href="/projets")
    div
      span.menu__item__text
        | projets
  a.menu__item(href="/antonin")
    div
      span.menu__item__text
        | antonin
  a.menu__item(href="/manon")
    div
      span.menu__item__text
        | manon
  a.menu__item(href="/ninon")
    div
      span.menu__item__text
        | ninon 