.main__navigation
  .main__navigation__logo 
    a.main__navigation__link.fetch(href='/')
      img(src="logo-studio-ln10.svg" alt="logo StudioLN10")
  .main__navigation__menu
    p Menu
    div 
      span 
      span 
      span