.menu 
  .menu__item__container
    a.menu__item.fetch(href= link__1)
      div
        span.menu__item__text= page__1
    a.menu__item.fetch(href= link__2)
      div
        span.menu__item__text= page__2
    a.menu__item.fetch(href= link__3)
      div
        span.menu__item__text= page__3




//- .menu 
//-   .menu__item__container
//-     a.menu__item(href= link__1)
//-       div
//-         span.menu__item__text= page__1
//-     a.menu__item(href= link__2)
//-       div
//-         span.menu__item__text= page__2
//-     a.menu__item(href= link__3)
//-       div
//-         span.menu__item__text= page__3