@font-face {
  font-family: $font-avantgarde-md;
  src: url('../fonts/ITCAvantGardeStd-Md.woff2') format('woff2'),
      url('../fonts/ITCAvantGardeStd-Md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-avantgarde-st;
  src: url('../fonts/ITCAvantGardeStd-XLt.woff2') format('woff2'),
      url('../fonts/ITCAvantGardeStd-XLt.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


