.preloader {
 @extend %cover;
 //display: none;
 color: $color-white;
 align-items: center;
 display: flex;
 justify-content: center;
 text-align: center;
 background-color: $color-black;
 z-index: z('preloader');
} 

.preloader__text {
  font-size: 40px;
  max-width: 70vw;
}

.preloader__number {
  bottom: 10%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
} 
// .preloader__number__text {

// }
