/*!**********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./app/styles/index.scss ***!
  \**********************************************************************************************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.silence, .monaco, .saint-gilles, .galerie, .team__members, .projets, .contact, .about, .home, .menu, .preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dg.ac {
  z-index: 99999 !important;
}

@font-face {
  font-family: "Avantgarde md";
  src: url(fonts/8407818d7025fb2ce85c.woff2) format("woff2"), url(fonts/972166616e4ef25ec7f7.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avantgarde st";
  src: url(fonts/7e2f2e4231db389c7e01.woff2) format("woff2"), url(fonts/9071614471309f51a3a1.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Avantgarde st";
  color: #000000;
  background-color: #ffffff;
}

.about__description__text h3 {
  font-family: "Avantgarde st";
  font-size: calc(15px + 7 * (100vw - 360px) / 1240);
}

.main__navigation__logo img {
  height: 140px;
  width: 140px;
}

.page__navigation__logo img {
  height: 80px;
  width: 80px;
}

.team__members__social img {
  height: 30px;
  width: 30px;
}

.team__members__introduction {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.team__members__introduction h1 {
  font-family: "Avantgarde md";
  text-transform: uppercase;
  font-size: calc(25px + 55 * (100vw - 360px) / 1240);
}

.team__members__introduction h2 {
  font-family: "Avantgarde st";
  font-size: calc(15px + 10 * (100vw - 360px) / 1240);
  text-align: center;
  width: 80%;
}

.team__members__work {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 1800px;
  max-width: 95%;
  height: auto;
}

.team__members__image__container {
  height: 330px;
  width: 330px;
  overflow: hidden;
  background-color: #ffffff;
}

.team__members__video__container {
  height: 330px;
  width: 330px;
  overflow: hidden;
}

.team__members__social {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.preloader {
  color: #ffffff;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #000000;
  z-index: 4;
}

.preloader__text {
  font-size: 40px;
  max-width: 70vw;
}

.preloader__number {
  bottom: 10%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.main__navigation {
  display: flex;
  height: 20vh;
}

.main__navigation__logo {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.main__navigation__logo img {
  transform: translateX(50%);
}

.main__navigation__menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.main__navigation__menu > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  width: 30px;
  position: relative;
  margin-right: 2vw;
  margin-top: 2vh;
  cursor: pointer;
}

.main__navigation__menu span {
  background: black;
  height: 1px;
  width: 30px;
  transition: 0.3s;
  transform-origin: center;
}

.main__navigation__menu.active span:nth-child(1) {
  top: 40%;
  transform: rotate(45deg);
  background: white;
}

.main__navigation__menu.active span:nth-child(2) {
  top: 40%;
  transform: rotate(-45deg);
  background: white;
}

.main__navigation__menu.active span:nth-child(3) {
  display: none;
}

.page__navigation {
  display: flex;
  flex-direction: row;
}

.page__navigation__logo {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.page__navigation__logo img {
  margin-left: 2vw;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  gap: 5px;
}

.footer__social {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer__mentions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
}

.footer__mentions a {
  text-decoration: none;
  color: #000000;
}

.menu {
  background-color: black;
  z-index: 2;
  transform: translateX(-101%);
}

.menu:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.15;
  background-image: url(images/logo-studio-ln10-white.svg);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.menu__item__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

a.menu__item {
  font-family: "Avantgarde md";
  font-size: calc(50px + 55 * (100vw - 360px) / 1240);
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  z-index: 2;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home__links {
  display: flex;
  justify-content: center;
}

.home__links ul {
  display: flex;
  flex-direction: row;
  gap: calc(10px + 130 * (100vw - 300px) / 1300);
}

.home__links__link {
  color: #000000;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.home__video {
  max-width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  height: calc(174.38px + 305.62 * (100vw - 360px) / 1240);
  width: calc(310px + 543.33 * (100vw - 360px) / 1240);
}

.home__video video {
  height: 100%;
  width: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__introduction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.about__introduction h1 {
  font-size: calc(15px + 5 * (100vw - 360px) / 1240);
  line-height: 1.3;
}

.about__description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about__description__images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__description__images img {
  height: 250px;
  width: 250px;
  transform: rotate(5deg);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.about__description__images:nth-child(odd) img {
  transform: rotate(-5deg);
}

.about__description__images:hover img {
  transform: rotate(-5deg);
}

.about__description__images:nth-child(odd):hover img {
  transform: rotate(5deg);
}

.about__description__text h3 {
  text-align: center;
  margin-top: 5px;
}

.about__description__text h4 {
  margin-top: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.contact__content__holder h2 {
  font-family: "Avantgarde st";
  font-size: calc(26px + 24 * (100vw - 300px) / 1300);
  text-align: center;
  height: 90px;
  text-transform: uppercase;
}

.contact__content__email a {
  font-family: "Avantgarde md";
  font-size: calc(26px + 24 * (100vw - 300px) / 1300);
  text-align: center;
  height: 90px;
  text-decoration: none;
  color: black;
}

.projets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team__members {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team__members__image__container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.team__members__image__container:hover img {
  transform: scale(1.1);
}

.team__members__video__container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.team__members__video__container:hover video {
  transform: scale(1.1);
}

.galerie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.saint-gilles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.monaco {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.silence {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*# sourceMappingURL=main.css.map*/