.main__navigation {
  display: flex;
  height: 15vh;
  //background-color: yellowgreen;
}

.main__navigation__logo {
  display: flex;
  flex: 1;
  justify-content: flex-end;
} 

.main__navigation__logo img {
  @extend %logo-big;
  transform: translateX(50%);
}

.main__navigation__menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  // z-index: 2;
  z-index: z('preloader');
  margin-right: 2vw;
  margin-top: 2vh;
}

.main__navigation__menu.active p {
  color: $color-white;
  z-index: 3;
  z-index: z('preloader');
}

.main__navigation__menu > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 15px;
  width: 30px;
  position: relative;
  cursor: pointer;
  z-index: 3;
  z-index: z('preloader');
  
}

.main__navigation__menu span {
  background: black;
  height: 1px;
  width: 30px;
  transition: 1.2s;
  transform-origin: center;
}

.main__navigation__menu p {
  font-size: 13px;
  margin-right: 10px;
}

.main__navigation__menu.active span {
  position: absolute;
  left: 0;
  width: 100%;
}

.main__navigation__menu.active span:nth-child(1) {
  top: 40%;
  transform: rotate(45deg);
  background: white;
}

.main__navigation__menu.active span:nth-child(2) {
  top: 40%;
  transform: rotate(-45deg);
  background: white;
}

.main__navigation__menu.active span:nth-child(3) {
  display: none;
}


// .main__navigation {
//   display: flex;
//   height: 20vh;
// }

// .main__navigation__logo {
//   display: flex;
//   flex: 1;
//   justify-content: flex-end;
// } 

// .main__navigation__logo img {
//   @extend %logo-big;
//   transform: translateX(50%);
// }

// .main__navigation__menu {
//   flex: 1;
//   display: flex;
//   justify-content: flex-end;
//   // z-index: 2;
//   margin-right: 2vw;
//   margin-top: 2vh;
//   z-index: z('preloader');
// }

// .main__navigation__menu > div {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
//   height: 15px;
//   width: 30px;
//   position: relative;
//   // margin-right: 2vw;
//   // margin-top: 2vh;
//   cursor: pointer;
//   z-index: 3;
//   z-index: z('preloader');
// }

// .main__navigation__menu p {
//   font-size: 13px;
//   margin-right: 10px;
//   color: $color-black;
// }

// .main__navigation__menu.active p {
//   font-size: 13px;
//   margin-right: 10px;
//   color: $color-white;
// }

// .main__navigation__menu span {
//   background: black;
//   height: 1px;
//   width: 30px;
//   transition: 0.3s;
//   transform-origin: center;
// }



// .main__navigation__menu.active span:nth-child(1)
// {
//   top: 40%;
//   transform: rotate(45deg);
//   background: white;
// }

// .main__navigation__menu.active span:nth-child(2)
// {
//   top: 40%;
//   transform: rotate(-45deg);
//   background: white;
// }

// .main__navigation__menu.active span:nth-child(3)
// {
//   display: none;
// }

