$color-white: #ffffff;
$color-black: #000000;

$font-avantgarde-st: 'Avantgarde st';
$font-avantgarde-md: 'Avantgarde md';

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'preloader',
  'menu', 
  'navigation', 
  'content', 
  'canvas'
);