extend ../base.pug

block variables
  - var template = 'galerie'

block vars 
  - var title =gallerie.data.meta_title
  - var description =gallerie.data.meta_description
  - var link__1 = '/projets'
  - var page__1 = 'projets'
  - var link__2 = '/propos'
  - var page__2 = 'Propos'
  - var link__3 = '/contact'
  - var page__3 = 'Contact'

block content   
  .galerie.fading
    include ../partials/menu
    include ../partials/main__navigation
    .galerie__slider
      canvas#canvas 
      .galerie__description
        .galerie__description__arrow
          img(src=('images/arrow-left-circle-lined.svg'))
          img(src=('images/arrow-right-circle-lined.svg'))
    include ../partials/footer 