extend ../base.pug

block variables
  - var template = 'galerie'

block vars 
  - var title =gallerie.data.meta_title
  - var description =gallerie.data.meta_description

block content   
  .galerie 
    include ../partials/menu
    include ../partials/main__navigation

    include ../partials/footer 