extend ../base.pug

block variables
  - var template = 'monaco'

block vars 
  - var link__1 = '/projets'
  - var page__1 = 'projets'
  - var link__2 = '/propos'
  - var page__2 = 'A Propos'
  - var link__3 = '/contact'
  - var page__3 = 'Contact'
//-   - var title =antonin.data.meta_title
//-   - var description =antonin.data.meta_description

  
block content   
  .monaco
    include ../partials/menu
    include ../partials/page__navigation

    include ../partials/page__footer