.projets {
  @extend %cover;
  position: relative;

} 

.projets__holder {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: aqua;
  @include media('<phone') {

  }
}

.projets__holder__description {

}

.projets__holder__slider img {
//background-color: green;
height: 40px;
width: auto;
cursor: pointer;
@include media('<phone') {
 
}

}

.projets__canvas {

}